<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- As três tags meta acima *precisam* serem as primeiras na head; qualquer outro conteúdo deve vir *depois* dessas tags -->

    <title>Nards Timeout</title>

    <!-- bootstrap -->
    <link href="public/dist/css/bootstrap.min.css" rel="stylesheet">
     <!-- CSS -->
    <link href="public/css/style.css" rel="stylesheet">


  </head>
  <body>
      <div class="content">
          <div class="container">
              <div class="row">
                 
                      <div class="col-md-5">
                          <div class="rounded"><image src="https://firebasestorage.googleapis.com/v0/b/nardoni-countdown.appspot.com/o/nardoni.jpg?alt=media&token=f56dcb10-8436-4bd9-9f8f-348205f38b4a"/></div>
                          
                      </div>
                      <div class="col-md-7 speech-bubble">
                              <h1>Eu vou para a disney em:</h1>
                              <h2>96 dias!</h2>
                      </div>
               
              </div>
          </div>
      </div>
      <div class="content-body">
          <div class="container">
              <div class="jumbotron mt-5">
                  <h1 class="display-4">Muambas são bem-vindas!</h1>
                  <p class="lead">Por favor deixe sua solicitação de muamba, a disney é ótima para esse tipo de coisa!</p>
                  <hr class="my-4">
                  <p>Caso não tenha a muamba solicitada, pode solicitar pelo site abaixo:</p>
                  <p class="lead">
                    <a class="btn btn-primary btn-lg" href="https://pt.aliexpress.com/?utm_source=masoffer&aff_short_key=BHdg6fe&af=77796&cn=6814&cv=0&dp=1021c0568974f777e9f71979f1cc1f&dl_target_url=https%3A%2F%2Faliexpress.com%3Futm_source%3Dmasoffer" role="button">ALiExpress</a>
                  </p>
                </div>
              <table class="table table-striped mt-5">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Handle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>
          </div>
      </div>
    

  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="/public/dist/js/bootstrap.min.js"></script>
</html>