.rounded img{
    border-radius: 180px;
    border: 5px solid #ff000063;
    width:50%;
}

.content{
    background:#a4f5a487;
    padding:20px;
}

.speech-bubble {
	position: relative;
	background: #79ac0f;
	border-radius: .4em;
	color:white;
	padding:20px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 27px solid transparent;
	border-right-color: #79ac0f;
	border-left: 0;
	border-bottom: 0;
	margin-top: -13.5px;
	margin-left: -27px;
}
